<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="robots" content="all,follow"/>
    <meta name="googlebot" content="index,follow,snippet,archive"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Obaju e-commerce template"/>
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz"/>
    <meta name="keywords" content=""/>
    <title>
    MWM E-commerce
    </title>
    <meta name="keywords" content=""/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'/>
    <!-- styles -->
 <link  th:href="@{/ecommerce/css/font-awesome.css}" rel="stylesheet"/>
    <link  th:href="@{/ecommerce/css/bootstrap.min.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/animate.min.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/owl.carousel.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/owl.theme.css}" rel="stylesheet"/>      
    <!-- theme stylesheet -->     
    <link  th:href="@{/ecommerce/css/style2.blue.css}" rel="stylesheet" id="theme-stylesheet"/>      

</head>
<body>
 <th:block th:include="/ecommerce/encabezado"></th:block>
    <!-- *** NAVBAR END *** -->
    
    
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a th:href= "@{/ecommerce/principal}">Inicio</a>
                        </li>
                        <li>Carrito de Compras</li>
                    </ul>
                </div>
                <div class="col-md-9" id="basket">
                    <div class="box">
                    	<th:block th:if="${carritoForm.cartOnline.empty}" >
                    	<h2 class="text">No hay productos en el carrito</h2>
                    	<div class="row car-vacio" >
                    	<i class="fa fa-cart-plus" aria-hidden="true"></i>
                   </div>
                  <hr/>
                   <div class="row hola">
                    	<a th:href= "@{/ecommerce/categoria}" class="btn btn-primary comprar"><i class="fa fa-chevron-left"></i>Comprar</a>
                    	</div>
                    	</th:block>
                    
                    	 <th:block th:if="${!carritoForm.cartOnline.empty}">
                        <form method="POST" th:object="${carritoForm}" th:action="@{/ecommerce/carritoCompras}">
                            <h1>Carrito de Compras</h1>
                                <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Producto</th>
                                            <th>Cantidad</th>
                                            <th>Precio Unitario</th>
                                           
                                            <th colspan="2">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="objeto, varStatus: ${carritoForm.cartOnline}">
                                        <tr>
                                        	
                                            <td>
                                            <img th:src="@{'/uploads/'+${objeto.productoModel.imagen1}}" alt=""/>
                                         
                                            <input type="hidden" th:name="|cartOnline[${varStatus.index}].productoModel.idProdcutos|"
                                            th:value="${objeto.productoModel.idProdcutos}" />
                                            </td>
                                            <td th:utext="${objeto.productoModel.nombreProducto}">                                           	                                        
                                            </td>
                                            <td>
                                                 <input type="number" th:name="|cartOnline[${varStatus.index}].cantidad|" th:value="${objeto.cantidad}" class="form-control"/> 
                                            </td>
                                            <td >$ <span th:utext="${objeto.productoModel.precioMxm}"></span>
                                            <input type="hidden" th:name="|cartOnline[${varStatus.index}].productoModel.precioMxm|"
                                            th:value="${objeto.productoModel.precioMxm}" />
                                            <input type="hidden" th:name="|cartOnline[${varStatus.index}].productoModel.precio|"
                                            th:value="${objeto.productoModel.precio}" />
                                            </td>
                                            
                                            <td >$ <span th:utext="${objeto.monto}"></span></td>
                                            <td><a th:href="@{|/ecommerce/eliminarProductoCarrito?id=${objeto.productoModel.idProdcutos}|}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="4">Total</th>
                                            <th colspan="2">$ <span th:text="${carritoForm.montoTotal}"></span></th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="javascript:history.back();" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continuar comprando</a>
                                </div>
                                <div class="pull-right">
                                <button type="submit" class="btn btn-default">
                                	<i class="fa fa-refresh"></i>Refrescar Carrito
                                </button>
                                <a th:href= "@{/ecommerce/wizard}" class="btn btn-primary">Siguiente<i class="fa fa-chevron-right"></i> </a>                                    
                                </div>
                                                           </div>

                        </form>
                        </th:block>
                    </div>
                    <!-- /.box -->
                   
                </div>
                <!-- /.col-md-9 -->
<div class="col-md-3">
                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Resúmen de orden</h3>
                        </div>
                        <p class="text-muted">El envío y los costos adicionales se calculan en función de los valores que ingresó.</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
<!--                                     <tr> -->
<!--                                         <td>Subtotal</td> -->
<!--                                         <th>$446.00</th> -->
<!--                                     </tr> -->
<!--                                     <tr> -->
<!--                                         <td>Envío</td> -->
<!--                                         <th>$10.00</th> -->
<!--                                     </tr> -->
<!--                                     <tr> -->
<!--                                         <td>I.V.A.</td> -->
<!--                                         <th>$0.00</th> -->
<!--                                     </tr> -->
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>$ <span th:text="${carritoForm.montoTotal}"></span> MXM</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                    
 </div>	
                <!-- /.col-md-3 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
         <th:block th:include="/ecommerce/piePag"></th:block>
    </div>
    <!-- /#all -->
    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
        <script th:src="@{/ecommerce/js/jquery-1.11.0.min.js}"></script>     
    <script th:src="@{/ecommerce/js/bootstrap.min.js}"></script>     
    <script th:src="@{/ecommerce/js/jquery.cookie.js}"></script>     
    <script th:src="@{/ecommerce/js/waypoints.min.js}"></script>     
    <script th:src="@{/ecommerce/js/modernizr.js}"></script>     
    <script th:src="@{/ecommerce/js/bootstrap-hover-dropdown.js}"></script>     
    <script th:src="@{/ecommerce/js/owl.carousel.min.js}"></script>     
    <script th:src="@{/ecommerce/js/front.js}"></script>
</body>
</html>