<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
	<link th:href="@{/ecommerce/css/style2.blue.css}" rel="stylesheet" />
	<link th:href="@{/ecommerce/css/bootstrap.min.css}" rel="stylesheet" />
<title>Detalles de Productos</title>
</head>
<body>
	<div class="container py-4 col-md-8">
		<div class="card bg-light">
			<div class="card-header listaproductp" th:text="${titulo}"></div>
			<div class="card-body col-md-12">
			<div class="row col-md-12">
			<p class="listaproductp">IMAGEN 1 </p><hr/>
			<p class="listaproductp">IMAGEN 2</p> 
			 </div>		
			<div class="col-md-12 row imagenes">
				<img class="img-thumbnail rounded float-left img_detall"
				     th:alt="${producto.imagen1}" 
				     th:src="@{'/uploads/'+${producto.imagen1}}" /> 
<hr/>
				<img	 class="img-thumbnail rounded float-left img_detall"
					th:alt="${producto.imagen2}"
					th:src="@{'/uploads/'+${producto.imagen2}}"/>					
			 </div>
		
			<div class="row col-md-12">
					<ul style="list-style:none">
                        <li class="list-group-item detalles">ID: <span class="span" th:text="${producto.idProdcutos}"></span></li>
                        <li class="list-group-item detalles">Nombre: <span class="span" th:text="${producto.nombreProducto}"></span></li>
                        <li class="list-group-item detalles">Modelo: <span class="span" th:text="${producto.modelo}"></span></li>
                        <li class="list-group-item detalles">Precio: $<span class="span" th:text="${producto.precio}"></span></li>
                        <li class="list-group-item detalles">Descripcion: <span class="span" th:text="${producto.descripcion}"></span></li>
                        <li class="list-group-item detalles">Garantia: <span  class="span" th:text="${producto.tiempoGarantia}"></span></li>  
                     </ul>
			</div>
			</div>
		</div>
		<br/>
		<a th:href="@{/Admin/listaProductosAdmin}" class="btn btn-primary">Ok</a>	
	</div>
</body>
</html>