<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns:th="http://www.thymeleaf.org">
<head>    
    <meta name="robots" content="all,follow"/>
    <meta name="googlebot" content="index,follow,snippet,archive"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Obaju e-commerce template"/>
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz"/>
    <meta name="keywords" content=""/>
    <title>
      MWM E-commerce
    </title>
    <meta name="keywords" content=""/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'/>
<!-- Estilos -->    
    <link  th:href="@{/ecommerce/css/font-awesome.css}" rel="stylesheet"/>
    <link  th:href="@{/ecommerce/css/font-awesome.min.css}" rel="stylesheet"/>
    <link  th:href="@{/ecommerce/css/bootstrap.min.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/animate.min.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/owl.carousel.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/owl.theme.css}" rel="stylesheet"/>        

<!-- CHECAR ESTA PARTE -->
    <link  th:href="@{/ecommerce/css/style2.blue.css}" rel="stylesheet" id="theme-stylesheet"/>          
</head>

<body>
  <th:block th:include="/ecommerce/encabezado"></th:block>  
    <!-- *** NAVBAR END *** -->
    <div id="all">
        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/ecommerce/principal}">Inicio</a>
                        </li>
                        <li><a href="#">Compras</a>
                        </li>
                        <li><a th:href="@{/ecommerce/categoria}">Categoría</a>
                        </li>
                        <li>Cámara falsa(fantasma), con Leds que encienden en la noche (No parpadea).</li>
                    </ul>
                </div>                                                    
                <div class="col-md-12">
                    <div class="row" id="productMain">
                        <div class="col-sm-6">
                            <div id="mainImage">
                                <img  th:src="@{/ecommerce/img/detailbig1.jpg}" class="img-responsive"  alt=""/>
                            </div>
                            <div class="ribbon new">
                                <div class="theribbon">Nuevo</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <h3 class="text-center">Cámara falsa(fantasma), con Leds que encienden en la noche (No parpadea) baterías no incluidas</h3>                                
                                <p class="price">$124.00</p>
                                
<div class="formas-pago">        
    <div class="row">                
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <img  th:src="@{/ecommerce/img/oxxo.jpg}" class="img-responsive"  alt=""/>        
        </div>
        <div class="col-sm-2">
        <img  th:src="@{/ecommerce/img/paypal.jpg}" class="img-responsive"  alt=""/>
        </div>
        <div class="col-sm-2">
        <img  th:src="@{/ecommerce/img/visa.jpg}" class="img-responsive"  alt=""/>
        </div>
        <div class="col-sm-2">
        <img  th:src="@{/ecommerce/img/mastercard.jpg}" class="img-responsive"  alt=""/>
        </div>        
        <div class="col-sm-2"></div>
    </div>        
</div>             
<hr></hr>                                                                                                     
                  <p class="text-center buttons">
                     <a th:href="@{/ecommerce/carrito}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Agregar al carrito</a>                                     
                  </p>
                  </div>                          
                            <hr></hr>                            
                                                                                                                                      
                        </div>
                    </div>
                    <div class="box" id="details">             
                            <h4>Características generales</h4>
					<ul>
                        <li>Peso: 155g.</li>
                        <li>Altura de bracket: 143.5mm.</li>
                        <li>Base de bracket: 82mm X 58mm.</li>
                        <li>Movimiento del bracket ajustable.</li>
                        <li>Led indicador: Parpadeo cada 2 segundos.</li>
                        <li>Alimentación: 2 baterías AAA (no incluidas).</li>  
                     </ul>
                            <blockquote>
                                <p><em>Especificaciones, Precios y Fotografías de los Productos: <hr></hr>
									Las especificaciones, características, funciones, cualidades,
									colores, precios, así como las fotografías son ciertas al momento 
									de la publicación, pero ocasionalmente hay ligeros cambios debido a la tecnología cambiante.
									Los precios finales están calculados con un 4% de descuento adicional tomando en cuenta que 
									el tipo de pago es a contado, ya sea en efectivo o con transferencia electrónica. El precio 
									del producto puede cambiar dependiendo de la forma de pago. Los precios publicados son precios sin IVA</em>
                                </p>
                            </blockquote>
                    </div>                                   
            </div>
            </div>
            </div>                                                       
     <th:block th:include="/ecommerce/piePag"></th:block>        
        </div>               
    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
<script th:src="@{/ecommerce/js/jquery-1.11.0.min.js}"></script>     
    <script th:src="@{/ecommerce/js/bootstrap.min.js}"></script>     
    <script th:src="@{/ecommerce/js/jquery.cookie.js}"></script>     
    <script th:src="@{/ecommerce/js/waypoints.min.js}"></script>     
    <script th:src="@{/ecommerce/js/modernizr.js}"></script>     
    <script th:src="@{/ecommerce/js/bootstrap-hover-dropdown.js}"></script>     
    <script th:src="@{/ecommerce/js/owl.carousel.min.js}"></script>     
    <script th:src="@{/ecommerce/js/front.js}"></script>
</body>
</html>