<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta name="robots" content="all,follow" />
<meta name="googlebot" content="index,follow,snippet,archive" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Obaju e-commerce template" />
<meta name="author" content="Ondrej Svestka | ondrejsvestka.cz" />
<meta name="keywords" content="" />
<title>MWM E-commerce</title>
<meta name="keywords" content="" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link
	href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100'
	rel='stylesheet' type='text/css' />
<!-- Estilos -->
<link />
<link th:href="@{/ecommerce/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/animate.min.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/owl.carousel.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/owl.theme.css}" rel="stylesheet" />

<!-- CHECAR ESTA PARTE -->
<link th:href="@{/ecommerce/css/style2.blue.css}" rel="stylesheet" />


<!-- your stylesheet with modifications -->
<link th:href="@{/ecommerce/css/custom.css}" rel="stylesheet" />
<script th:src="@{/ecommerce/js/respond.min.js}"></script>

<link rel="shortcut icon" href="resources/ecommerce/logoBlanco.ico"
	type="image/x-icon" />

<script th:src="@{/ecommerce/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/ecommerce/js/bootstrap.min.js}"></script>
<script th:src="@{/ecommerce/js/jquery.cookie.js}"></script>
<script th:src="@{/ecommerce/js/waypoints.min.js}"></script>
<script th:src="@{/ecommerce/js/modernizr.js}"></script>
<script th:src="@{/ecommerce/js/bootstrap-hover-dropdown.js}"></script>
<script th:src="@{/ecommerce/js/owl.carousel.min.js}"></script>
<script th:src="@{/ecommerce/js/front.js}"></script>

</head>

<body>
	


	<div class="navbar navbar-default yamm  navbar-fixed-top"
		role="navigation" id="navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand home" th:href="@{/ecommerce/principal}"
					data-animate-hover="bounce"> <img
					th:src="@{/principal/img/logoBlanco.png}" class="hidden-xs img"
					id="img" alt="MWM" /> <img
					th:src="@{/principal/img/logoBlanco.png}" class="visible-xs imagen"
					id="imagen" alt="MWM" />
				</a>

				<!-- Botones para la vista movil -->
				<div class="navbar-buttons">
					<a  th:href="@{/login}" type="button" class="navbar-toggle" data-toggle="modal"
						>
						<span class="sr-only">Loggin</span> <i class="fa fa-user-circle"></i>
					</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#navigation">
						<span class="sr-only">Menu</span> <i class="fa fa-align-justify"></i>
					</button>
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#search">
						<span class="sr-only">Buscar</span> <i class="fa fa-search"></i>
					</button>
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#search">
						<span class="sr-only">Car</span> <i class="fa fa-shopping-cart"></i>
					</button>
				</div>
			</div>
			<!--/.navbar-header -->
			<div class="navbar-collapse collapse" id="navigation">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a th:href="@{/ecommerce/principal}">Inicio</a></li>
					<li class="dropdown yamm-fw"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						data-hover="dropdown" data-delay="200">Redes<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<div class="yamm-content">
									<div class="row">
										<div class="col-sm-3">
											<h5>Enlaces PtP y PtMP</h5>
<!-- 											<ul> -->
<!-- 												<li><a href="index.xhtml">Accesorios</a></li> -->

<!-- 											</ul> -->
										</div>
										<div class="col-sm-3">
											<h5>Racks y gabinetes</h5>
<!-- 											<ul> -->
<!-- 												<li><a href="register.xhtml">Accesorios para racks -->
<!-- 														y gabinetes</a></li> -->

<!-- 											</ul> -->
										</div>
										<div class="col-sm-3">
											<h5>Torres y Accesorios</h5>
<!-- 											<ul> -->
<!-- 												<li><a href="basket.xhtml">Corriente directa</a></li> -->

<!-- 											</ul> -->
										</div>
										<div class="col-sm-3">
											<h5>Networking</h5>
											<ul>
	<!-- 												<li><a href="blog.xhtml">Convertidores medios</a></li> -->

											</ul>
										</div>
									</div>
								</div> <!-- /.yamm-content -->
								
								
							</li>
						</ul></li>
					<li class="dropdown yamm-fw"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						data-hover="dropdown" data-delay="200">Videovigilancia<b
							class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<div class="yamm-content">
									<div class="row">
										<div class="col-sm-3">
											<h5>Accesorios</h5>
											
										</div>
										<div class="col-sm-3">
											<h5>Audio</h5>
											
										</div>
										<div class="col-sm-3">
											<h5>Cámaras HD-SDI/Grabación</h5>
											
										</div>
										<div class="col-sm-3">
											<h5>Cables</h5>
											
										</div>
									</div>
								</div> <!-- /.yamm-content -->
							</li>
						</ul></li>

					<li class="dropdown yamm-fw"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						data-hover="dropdown" data-delay="200">Cableado Estructurado<b
							class="caret"></b></a>
						<ul class="dropdown-menu">
						<li>
								<div class="yamm-content">
									<div class="row">
										<div class="col-sm-3">
											<h5>Cable(Cat.e5, Cat.6,Cat.6A)</h5>
<!-- 											<ul> -->
<!-- 												<li><a href="index.xhtml">Accesorios</a></li> -->

<!-- 											</ul> -->
										</div>
										<div class="col-sm-3">
											<h5>Canalización</h5>
<!-- 											<ul> -->
<!-- 												<li><a href="register.xhtml">Accesorios para racks -->
<!-- 														y gabinetes</a></li> -->

<!-- 											</ul> -->
										</div>
										<div class="col-sm-3">
											<h5>Conectores</h5>
<!-- 											<ul> -->
<!-- 												<li><a href="basket.xhtml">Corriente directa</a></li> -->

<!-- 											</ul> -->
										</div>
										<div class="col-sm-3">
											<h5>Fibra Óptica</h5>
											<ul>
	<!-- 												<li><a href="blog.xhtml">Convertidores medios</a></li> -->

											</ul>
										</div>
									</div>
								</div> <!-- /.yamm-content -->
								
								
							</li>
							
							
							
						</ul></li>
					
				</ul>
			</div>
			<!--/.nav-collapse -->
			<!-- Boton de ecommerce en menú -->
			<div class="navbar-buttons">


				<div class="navbar-collapse collapse right" id="search-not-mobile">
					<a th:href="@{/login}" type="button" class="btn navbar-btn btn-login"
						data-toggle="modal" >
						<span class="sr-only">Login</span> <i class="fa fa-user-circle"></i>
					</a>
				</div>

				<div class="navbar-collapse collapse right" id="basket-overview">
					<a th:href= "@{/ecommerce/carrito}" class="btn btn-login navbar-btn"><i
						class="fa fa-shopping-cart"></i><span class="hidden-sm">
							Productos</span></a>
				</div>
				<!--/.nav-collapse -->
				<!-- Boton de search en menú -->
				<div class="navbar-collapse collapse right" id="search-not-mobile">
					<a type="button" class="btn navbar-btn btn-login"
						data-toggle="collapse" data-target="#search" >
						<span class="sr-only">Login</span> <i class="fa fa-search"></i>
					</a>
					
					
				</div>

			</div>
			<!-- CAJA-BUSCAR -->
			<div class="collapse clearfix" id="search">
				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar"></input>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
			</div>

			<!--/.nav-collapse -->
		</div>
		<!-- /.container -->
	</div>
</body>
</html>