<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta name="robots" content="all,follow" />
<meta name="googlebot" content="index,follow,snippet,archive" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Obaju e-commerce template" />
<meta name="author" content="Ondrej Svestka | ondrejsvestka.cz" />
<meta name="keywords" content="" />
<title>MWM E-commerce</title>
<meta name="keywords" content="" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link
	href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100'
	rel='stylesheet' type='text/css' />
<!-- Estilos -->
<link />
<link th:href="@{/ecommerce/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/animate.min.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/owl.carousel.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/owl.theme.css}" rel="stylesheet" />

<!-- CHECAR ESTA PARTE -->
<link th:href="@{/ecommerce/css/style2.blue.css}" rel="stylesheet" />


<!-- your stylesheet with modifications -->
<link th:href="@{/ecommerce/css/custom.css}" rel="stylesheet" />
<script th:src="@{/ecommerce/js/respond.min.js}"></script>

<link rel="shortcut icon" href="resources/ecommerce/logoBlanco.ico"
	type="image/x-icon" />

<script th:src="@{/ecommerce/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/ecommerce/js/bootstrap.min.js}"></script>
<script th:src="@{/ecommerce/js/jquery.cookie.js}"></script>
<script th:src="@{/ecommerce/js/waypoints.min.js}"></script>
<script th:src="@{/ecommerce/js/modernizr.js}"></script>
<script th:src="@{/ecommerce/js/bootstrap-hover-dropdown.js}"></script>
<script th:src="@{/ecommerce/js/owl.carousel.min.js}"></script>
<script th:src="@{/ecommerce/js/front.js}"></script>

</head>

<body>
	


	<div class="navbar navbar-default yamm  navbar-fixed-top"
		role="navigation" id="navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand home" th:href="@{/ecommerce/principal}"
					data-animate-hover="bounce"> <img
					th:src="@{/principal/img/logoBlanco.png}" class="hidden-xs img"
					id="img" alt="MWM" /> <img
					th:src="@{/principal/img/logoBlanco.png}" class="visible-xs imagen"
					id="imagen" alt="MWM" />
				</a>

				<!-- Botones para la vista movil -->
				<div class="navbar-buttons">
					<a  th:href="@{/login}" type="button" class="navbar-toggle" data-toggle="modal"
						>
						<span class="sr-only">Loggin</span> <i class="fa fa-user-circle"></i>
					</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#navigation">
						<span class="sr-only">Menu</span> <i class="fa fa-align-justify"></i>
					</button>
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#search">
						<span class="sr-only">Buscar</span> <i class="fa fa-search"></i>
					</button>
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#search">
						<span class="sr-only">Car</span> <i class="fa fa-shopping-cart"></i>
					</button>
				</div>
			</div>
			<!--/.navbar-header -->
			<div class="navbar-collapse collapse" id="navigation">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a th:href="@{/ecommerce/principal}">Inicio</a></li>
					<li class="dropdown yamm-fw"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						data-hover="dropdown" data-delay="200">Videovigilancia<b
							class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<div class="yamm-content">
									<div class="row">
										<div class="col-sm-3">
											<h5>Accesorios</h5>
											<ul>
												<li><a href="category.xhtml">Gabinetes para cámaras</a>
												</li>
												<li><a href="category.xhtml">Memorias SD</a></li>
												<li><a href="category.xhtml">Cámaras</a></li>
												<li><a href="category.xhtml">Cámaras falsas</a></li>
											</ul>
										</div>
										<div class="col-sm-3">
											<h5>Audio</h5>
											<ul>
												<li><a href="category.xhtml">Conectores</a></li>
												<li><a href="category.xhtml">Estaciones e
														interfaces</a></li>
												<li><a href="category.xhtml">Micrófonos</a></li>
												<li><a href="category.xhtml">Cables</a></li>
											</ul>
										</div>
										<div class="col-sm-3">
											<h5>Cámaras HD-SDI/Grabación</h5>
											<ul>
												<li><a href="category.xhtml">Todos</a></li>
											</ul>
										</div>
										<div class="col-sm-3">
											<h5>Cables</h5>
											<ul>
												<li><a href="category.xhtml">Audio</a></li>
												<li><a href="category.xhtml">Fibra óptica</a></li>
												<li><a href="category.xhtml">Telefónico</a></li>
											</ul>
											<h5>Herramientas</h5>
											<ul>
												<li><a href="category.xhtml">Accesorios de
														instalación</a></li>
												<li><a href="category.xhtml">Probadores de video</a></li>
												<li><a href="category.xhtml">Para cable RG59</a></li>
											</ul>
										</div>
									</div>
								</div> <!-- /.yamm-content -->
							</li>
						</ul></li>

					<li class="dropdown yamm-fw"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						data-hover="dropdown" data-delay="200">Torres y accesorios<b
							class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<div class="yamm-content">
									<div class="row">
										<div class="col-sm-3">
											<ul>
												<li><a href="category.xhtml">Accesorios para torres
														Arriostradas</a></li>
												<li><a href="category.xhtml">Anclas temporales</a></li>
												<li><a href="category.xhtml">Mástiles</a></li>
												<li><a href="category.xhtml">Montaje de techo y
														pared</a></li>
												<li><a href="category.xhtml">Torres autosoportadas</a>
												</li>
												<li><a href="category.xhtml">Torres serie g</a></li>
												<li><a href="category.xhtml">Herramientas de
														instalación</a></li>
											</ul>
										</div>
										<div class="col-sm-5">
											<div class="banner">
												<a href="#"> <img th:src="@{/ecommerce/img/banner.jpg}"
													class="img-responsive img-thumbnail" id="img" alt="" />
												</a>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="banner">
												<a href="#"> <img th:src="@{/ecommerce/img/banner2.jpg}"
													class="img img-responsive img-thumbnail" alt="" />
												</a>
											</div>
										</div>
									</div>
								</div> <!-- /.yamm-content -->
							</li>
						</ul></li>
					<li class="dropdown yamm-fw"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						data-hover="dropdown" data-delay="200">Redes<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<div class="yamm-content">
									<div class="row">
										<div class="col-sm-3">
											<h5>Antenas</h5>
											<ul>
												<li><a href="index.xhtml">Accesorios</a></li>
												<li><a href="category.xhtml">Direccionales</a></li>
												<li><a href="category-right.xhtml">Jumpers</a></li>
												<li><a href="category-full.xhtml">Omnidireccionales</a>
												</li>
												<li><a href="detail.xhtml">Sectoriales</a></li>
											</ul>
										</div>
										<div class="col-sm-3">
											<h5>Racks y gabinetes</h5>
											<ul>
												<li><a href="register.xhtml">Accesorios para racks
														y gabinetes</a></li>
												<li><a href="customer-orders.xhtml">Equipo móvil de
														resguardo</a></li>
												<li><a href="customer-order.xhtml">Gabinetes para
														intemperie</a></li>
												<li><a href="customer-wishlist.xhtml">Racks
														abiertos</a></li>
												<li><a href="customer-account.xhtml">Racks cerrados</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-3">
											<h5>Protección contra descargas</h5>
											<ul>
												<li><a href="basket.xhtml">Corriente directa</a></li>
												<li><a href="checkout1.xhtml">Coaxial</a></li>
												<li><a href="checkout2.xhtml">Corriente alterna</a></li>
												<li><a href="checkout3.xhtml">Redes</a></li>
											</ul>
										</div>
										<div class="col-sm-3">
											<h5>Networking</h5>
											<ul>
												<li><a href="blog.xhtml">Convertidores medios</a></li>
												<li><a href="post.xhtml">Inyectores PoE</a></li>
												<li><a href="faq.xhtml">PoE de largo alcance</a></li>
												<li><a href="#">Switches</a></li>
												<li><a href="#">Routers, firewalls, balanceadores</a></li>
												<li><a href="404.xhtml">Transceptores de fibra</a></li>
												<li><a href="contact.xhtml">Gpon</a></li>
											</ul>
										</div>
									</div>
								</div> <!-- /.yamm-content -->
							</li>
						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
			<!-- Boton de ecommerce en menú -->
			<div class="navbar-buttons">


				<div class="navbar-collapse collapse right" id="search-not-mobile">
					<a th:href="@{/login}" type="button" class="btn navbar-btn btn-login"
						data-toggle="modal" >
						<span class="sr-only">Login</span> <i class="fa fa-user-circle"></i>
					</a>
				</div>

				<div class="navbar-collapse collapse right" id="basket-overview">
					<a th:href= "@{/ecommerce/carrito}" class="btn btn-login navbar-btn"><i
						class="fa fa-shopping-cart"></i><span class="hidden-sm">
							Productos</span></a>
				</div>
				<!--/.nav-collapse -->
				<!-- Boton de search en menú -->
				<div class="navbar-collapse collapse right" id="search-not-mobile">
					<a type="button" class="btn navbar-btn btn-login"
						data-toggle="collapse" data-target="#search" >
						<span class="sr-only">Login</span> <i class="fa fa-search"></i>
					</a>
					
					
				</div>

			</div>
			<!-- CAJA-BUSCAR -->
			<div class="collapse clearfix" id="search">
				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar"></input>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
			</div>

			<!--/.nav-collapse -->
		</div>
		<!-- /.container -->
	</div>
</body>
</html>