<!DOCTYPE html>
<html >

<head>
<meta charset="utf-8" />
    <meta name="robots" content="all,follow"/>
    <meta name="googlebot" content="index,follow,snippet,archive"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Obaju e-commerce template"/>
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz"/>
    <meta name="keywords" content=""/>

    <title>MWM E-commerce</title>

    <meta name="keywords" content=""/>
    
    <!-- Estilos -->
    <link  th:href="@{/ecommerce/css/font-awesome.css}" rel="stylesheet"/>
    <link  th:href="@{/ecommerce/css/font-awesome.min.css}" rel="stylesheet"/>
    <link  th:href="@{/ecommerce/css/bootstrap.min.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/animate.min.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/owl.carousel.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/owl.theme.css}" rel="stylesheet"/>        

    <link  th:href="@{/ecommerce/css/style2.blue.css}" rel="stylesheet" id="theme-stylesheet"/>
      
    
</head>

<body>
 <th:block th:include="/ecommerce/encabezado"></th:block>
    <div id="all">
<p></p>
        <div id="content">

            <div class="container">
                <div class="col-md-12">
                    <div id="main-slider">
                        <div class="item">
                               <img  th:src="@{/ecommerce/img/fondo1-2.jpg}" class="img-responsive"  alt=""/>                           
                        </div>
                        <div class="item">
                               <img  th:src="@{/ecommerce/img/fondo2-2.jpg}" class="img-responsive"  alt=""/>                               
                        </div>
                        <div class="item">
                            <img  th:src="@{/ecommerce/img/fondo3.jpg}" class="img-responsive"  alt=""/>                                
                        </div>
                        <div class="item">
                            <img  th:src="@{/ecommerce/img/fondo4.jpg}" class="img-responsive"  alt=""/>
                        </div>
                    </div>
                    <!-- /#main-slider -->
                </div>
            </div>

            <div id="hot">

                <div class="box">
                    <div class="container">
                        <div class="col-md-12">
                            <h2>Lo más vendido</h2>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="product-slider">
                    
                        <div class="item" th:each="objEach : ${listProduc}">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.xhtml">
                                                <img  th:src="@{/ecommerce/img/y.jpg}" class="img-responsive img-thumbnail"  alt=""/>     
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.xhtml">
                                                 <img  th:src="@{/ecommerce/img/y2.jpg}" class="img-responsive"  alt=""/>     
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.xhtml" class="invisible">
                                     <img  th:src="@{/ecommerce/img/y.jpg}" class="img-responsive"  alt=""/>                                          
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html"><span  th:text="${objEach.descripcion}"></span></a></h3>
                                    <p class="price">$<span th:text="${objEach.precio}"></span></p> 
                                </div>
                                <a href="basket.xhtml" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Agregar al carrito</a>
                                <!-- /.text -->
                                
                            </div>
                            <!-- /.product -->
                        </div>                       
                    </div>
                    <!-- /.product-slider -->
                </div>
                <!-- /.container -->

            </div>
            <!-- /#hot -->

            <!-- * HOT END * -->
            
 <div id="advantages">

                <div class="container">
                    <div class="same-height-row">
                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-money"></i>
                                </div>

                                  <h3><a href="#">Los mejores precios</a></h3>
                                <p>Te ofrecemos los mejores precios y la más alta calidad.</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-heart"></i>
                                </div>
                                <h3><a href="#">Amámos a nuestros clientes</a></h3>
                                <p>Nuestra prioridad eres tú, te ofrecemos el mejor servicio posible.</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-car"></i>
                                </div>

                                <h3><a href="#">Envío gratis</a></h3>
                                <p>Envío gratis a partir de $500.00. A todo el país. De 2 a 6 días hábiles</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->

            </div>                                    
            <!-- * GET INSPIRED * --> 
<!-- 
            <div class="box text-center">
                <div class="container">
                    <div class="col-md-12">
                        <h3 class="text-uppercase">VISITA NUESTRO BLOG</h3>

                        <p class="lead">¡Ingresa  <a href="blog.xhtml">aquí</a>!
                        </p>
                    </div>
                </div>
            </div>
               -->
               
     <!-- PIE DE PAGINA -->
     <div class="box marcas">    
    <div class="row">
        <div class="col-sm-12">
                    <p class="font-weight-bold text-center">LAS MEJORES MARCAS</p>            
        </div>        
    </div>    
    <div class="row">                
        <div class="col-sm-3 "></div>
        <div class="col-sm-1 col-xs-2">
        <img  th:src="@{/ecommerce/img/marca1.png}" class="img-responsive"  alt="Ubiquiti"/>                       
        </div>
        <div class="col-sm-1 col-xs-2">
            <img  th:src="@{/ecommerce/img/marca2.png}" class="img-responsive"  alt="Mimosa"/>                       
        </div>
        <div class="col-sm-1 col-xs-2">
            <img  th:src="@{/ecommerce/img/marca3.png}" class="img-responsive"  alt="Epcom"/>                       
        </div>
        <div class="col-sm-1 col-xs-2">
            <img  th:src="@{/ecommerce/img/marca4.png}" class="img-responsive"  alt="Hikvision"/>                       
        </div>   
        <div class="col-sm-1 col-xs-2">
            <img  th:src="@{/ecommerce/img/marca5.png}" class="img-responsive"  alt="Honeywell"/>                       
        </div>
        <div class="col-sm-2 col-xs-2   ">
            <img  th:src="@{/ecommerce/img/marca6.png}" class="img-responsive"  alt="Cambium Networks"/>                       
        </div>                  
        <div class="col-sm-2"></div>
    </div>        
</div>             
     <th:block th:include="/ecommerce/piePag"></th:block>
            
        </div> 
        </div>               

    <!-- * SCRIPTS TO INCLUDE *
 ___________________ -->
<script th:src="@{/ecommerce/js/jquery-1.11.0.min.js}"></script>     
    <script th:src="@{/ecommerce/js/bootstrap.min.js}"></script>     
    <script th:src="@{/ecommerce/js/jquery.cookie.js}"></script>     
    <script th:src="@{/ecommerce/js/waypoints.min.js}"></script>     
    <script th:src="@{/ecommerce/js/modernizr.js}"></script>     
    <script th:src="@{/ecommerce/js/bootstrap-hover-dropdown.js}"></script>     
    <script th:src="@{/ecommerce/js/owl.carousel.min.js}"></script>     
    <script th:src="@{/ecommerce/js/front.js}"></script>

</body>

</html>