<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Backend Ninja - Signin</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{ecommerce/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{ecommerce/css/style.css}" rel="stylesheet" />

  </head>

  <body>
 <th:block th:include="/ecommerce/encabezado"></th:block>

    <div class="container piedepag">

      <form class="form-signin"  th:action="@{/logincheck}"  method="POST">
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <h2 class="form-signin-heading">Iniciar</h2>
        
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text"  class="form-control" placeholder="Usuario" name="username" id="username"/>
        <br></br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"  class="form-control" placeholder="contraseña" name="password" id="password"/>
        <div th:if="${error != null}" class="alert alert-danger" role="alert">Usuario o Contraseña incorrecta</div>
                <div th:if="${logout != null}" class="alert alert-info" role="alert">sision finalizada</div>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        	<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Iniciar Sesion
        </button>
      </form>
    </div> 
    <br/><br/><br/><br/>
 <th:block th:include="/ecommerce/piePag"></th:block>
</body>
</html>