<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link th:href="@{/ecommerce/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini wrapper">
<th:block th:include="/admin/encabezado"></th:block>

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->

			<!-- Main content -->
			<section class="content"> <!-- /.row -->
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h2 style="text-align:center"><strong>Detalles de Orden</strong></h2>
							<h2>Datos de la persona</h2>
							<h4><strong>Nombre: </strong><span th:text="${venta.persona.nombre}"></span></h4>
							<h4><strong>Ap. Paterno: </strong><span th:text="${venta.persona.ap_Paterno}"></span> </h4>
							<h4><strong>Ap. Materno: </strong><span th:text="${venta.persona.ap_Materno}"></span>	</h4>
							<h4><strong>Tel.: </strong><span th:text="${venta.persona.telefono}"></span>		    </h4>
							<h4><strong>Correo: </strong><span th:text="${venta.persona.correo}"></span>          </h4>
							<h4><strong>Precio: $ </strong><span th:text="${venta.montoVenta}"></span> MXM        </h4>						
							<h4><strong>Fecha: </strong><span  th:text="${venta.fechaVenta}"></span>              </h4>
			<br/><br/>				
	<table class="table table-striped table-bordered tableUpdated">
		<thead>
			<tr>
				<th>Id Producto</th>
				<th>Imagen</th>
				<th>Nombre Producto</th>
				<th>Modelo</th>
				<th>Cantidad</th>
				<th>Precio Unitario</th>
				<th>Monto</th>

			</tr>
		</thead>

		<tbody th:each="objIterar : ${detalles}">
			<tr>
				<td th:text="${objIterar.idProducto.idProdcutos}" style="vertical-align:middle"></td>
				<td><img class="col-sm-6 col-md-3" th:src="@{'/uploads/'+${objIterar.idProducto.imagen1}}" style="width:100px; height:70px"/></td>
				<td th:text="${objIterar.idProducto.nombreProducto}"></td>
				<td th:text="${objIterar.idProducto.modelo}"></td>
				<td th:text="${objIterar.cantidad}"></td>
				<td th:text="${objIterar.precioUnitario}"></td>
				<td th:text="${objIterar.monto}"></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/Admin/ordenes}" class="btn btn-primary">Ok</a>	
	
	</div>
	</div>
	</div>
	</div>
	</section>
	</div>
	
	<th:block th:include="/admin/piePag"></th:block>
</body>
</html>