<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link th:href="@{/ecommerce/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<table class="table table-striped table-bordered tableUpdated">
		<thead>
			<tr>
				<th>Id Producto</th>
				<th>Cantidad</th>
				<th>Precio Unitario</th>
				<th>Monto</th>

			</tr>
		</thead>

		<tbody th:each="objIterar : ${detalles}">
			<tr>
				<td th:text="${objIterar.idProducto.idProdcutos}"></td>
				<td th:text="${objIterar.cantidad}"></td>
				<td th:text="${objIterar.precioUnitario}"></td>
				<td th:text="${objIterar.monto}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>