<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />


<title>Insert title here</title>
</head>
<body>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>categoria</th>
				<th>precio</th>
				<th>descripcion</th>
				<th>Garantia</th>

			</tr>
		</thead>

		<tbody th:each="objEach : ${objProducto}">
			<tr>
				<th th:text="${objEach.nombreProducto}"></th>
				<th th:text="${objEach.categoria}" class="text-secondary"></th>
				<th th:text="${objEach.precio}" class="text-light"></th>
				<th th:text="${objEach.descripcion}"></th>
				<th th:text="${objEach.tiempoGarantia}"></th>
			</tr>
		</tbody>
	</table>

</body>
</html>