<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />


<title>Lista de Productos</title>
</head>
<body>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>categoria</th>
				<th>precio</th>
				<th>descripcion</th>
				<th>Garantia</th>

			</tr>
		</thead>

		<tbody th:each="objEach : ${objProducto}">
			<tr>
				<th th:text="${objEach.nombreProducto}"></th>
				<th th:text="${objEach.categoria}" class="text-secondary"></th>
				<th th:text="${objEach.precio}" class="text-light"></th>
				<th th:text="${objEach.descripcion}"></th>
				<th th:text="${objEach.tiempoGarantia}"></th>
			</tr>
		</tbody>
	</table>

</body>
</html>