<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="robots" content="all,follow"/>
    <meta name="googlebot" content="index,follow,snippet,archive"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Obaju e-commerce template"/>
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz"/>
    <meta name="keywords" content=""/>
   <title>
       MWM E-commerce
    </title>
    <meta name="keywords" content=""/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'/>
<!-- Estilos -->    
    <link  th:href="@{/ecommerce/css/font-awesome.css}" rel="stylesheet"/>
    <link  th:href="@{/ecommerce/css/font-awesome.min.css}" rel="stylesheet"/>
    <link  th:href="@{/ecommerce/css/bootstrap.min.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/animate.min.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/owl.carousel.css}" rel="stylesheet"/>     
    <link th:href="@{/ecommerce/css/owl.theme.css}" rel="stylesheet"/>        
<!-- CHECAR ESTA PARTE -->
    <link  th:href="@{/ecommerce/css/style2.blue.css}" rel="stylesheet" id="theme-stylesheet"/>          
</head>
<body>
<th:block th:include="/ecommerce/encabezado"></th:block>
    <!-- *** NAVBAR END *** -->
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Inicio</a>
                        </li>
                        <li>Registar / Iniciar sesión</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <h1>Nueva cuenta</h1>
                        <p class="lead">¿No es nuestro cliente registrado todavía?</p>
                        <p>¡Con el registro con nosotros, nuevo mundo de la moda, descuentos fantásticos y mucho más se abren para usted! ¡Todo el proceso no te llevará más de un minuto!</p>
                        <p class="text-muted">Si tiene alguna pregunta, no dude en ponerse en <a href="contact.xhtml">contacto con nosotros</a>, nuestro centro de servicio al cliente está trabajando para usted las 24 horas del día, los 7 días de la semana.</p>
                        <hr></hr>
                        <form action="customer-orders.xhtml" method="post" class="">      
                            <div class="form-group has-feedback">
                                <label for="name">Nombre(s)</label>
                                <input type="text" class="form-control" id="name" />
                                <span class="fa fa-user-md form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email"/>
                            </div>
                            <div class="form-group" >
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password"/>
                            </div>
                            <div class="text-center has-feedback" id="preba">                                                           
                                <input type="button" value="Registrar" class="btn btn-primary text-left" id="prueba"  />                                  
                                <span class="fa fa-user-md form-control-feedback"></span>
                            </div>                                                       
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <h1>Iniciar sesión</h1>
                        <p class="lead">¿Ya es nuestro cliente?</p>
                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                            mi vitae est. Mauris placerat eleifend leo.</p>
                        <hr></hr>
                        <form action="customer-orders.xhtml" method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password"/>
                            </div>
                            <div class="text-center">
                            <input type="button"  value="Iniciar sesión" class="search btn-primary" />                                  
                                <span class="fa fa-sign-in form-control-sesion"></span>                            
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
<th:block th:include="/ecommerce/piePag"></th:block>             
        </div>               
    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
<script th:src="@{/ecommerce/js/jquery-1.11.0.min.js}"></script>     
    <script th:src="@{/ecommerce/js/bootstrap.min.js}"></script>     
    <script th:src="@{/ecommerce/js/jquery.cookie.js}"></script>   
    <script th:src="@{/ecommerce/js/bootstrap-hover-dropdown.js}"></script>     
    <script th:src="@{/ecommerce/js/owl.carousel.min.js}"></script>     
    <script th:src="@{/ecommerce/js/front.js}"></script>
</body>
</html>
