<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
<link href="#" th:href="@{/ecommerce/css/bootstrap.css}" rel="stylesheet" />
<link href="#" th:href="@{/ecommerce/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/ecommerce/css/style2.blue.css}" rel="stylesheet" />
</head>
<body>
<br></br>

<div class="col-md-12 center">
<p>EDITAR PRODUCTO </p>
</div>

<hr></hr>
<div class="col-md-8 center">
<form action="#" th:action="@{/Admin/addProducto}" th:object="${produ}"
		method="post">
		<input type="hidden" th:field="*{idProdcutos}"/> 
		<p>
			Nombre:<input type="text" th:field="*{nombreProducto}" />
		</p>
		<p>
			Precio:<input type="text" th:field="*{precio}" />
		</p>
		<p>
			Descripcion:<input type="text" th:field="*{descripcion}" />
		</p>
		<p>
			Garantia:<input type="text" th:field="*{tiempoGarantia}" />
		</p>
		<p>
			<input type="submit" value="Guardar"  class="btn btn-primary"/>
		</p>

	</form>
</div>
</body>
</html>